.apartment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition:
    transform 0.2s ease,
    box-shadow 0.3s ease;
  width: 350px;
  height: 500px;
  margin-bottom: 25px;
  justify-content: space-between;
}

.apartment:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.apartment h2 {
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.apartment p {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.apartment-images {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}

.apartment-image {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
}

.apartment-image:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: auto;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 14px 20px;
  cursor: pointer;
  border-radius: var(--button-radius);
  transition:
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.3s ease;
  flex: 1;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: var(--hover-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.apartments-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: flex-start;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  min-width: 300px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: auto;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-images {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-image {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    width 0.3s ease,
    height 0.3s ease;
}

.modal-image:active {
  width: 300px;
  height: 300px;
  transform: scale(1.1);
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button.close-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.close-button:hover {
  background-color: var(--hover-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .apartment {
    width: 90%;
    height: auto;
  }

  .modal-image {
    width: 70px;
    height: 70px;
  }
}

.image-enlarged-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.enlarged-image {
  max-width: 60%;
  max-height: 60%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
